<% layout('layouts/Boilerplate')%>
    <div class="row">
        <div class="col-lg-6 offset-3">
            <div class="alert alert-danger my-3" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <p>
                    <%= err.stack %>
                </p>
                <hr>
                <% if(process.env.NODE_ENV !=="production" ) %>
                    <p class="mb-0">
                        <%= statusCode %>
                    </p>
                    <% } %>
            </div>
        </div>
    </div>