<% layout('layouts/boilerplate') %>
    <h1>
        Reviews of
        <%=campgrounds.title%>
    </h1>
    <ul>
        <% for( let review of campgrounds.reviewsRef) { %>
            <li>
                <%= review.rating %>
            </li>
            <li>
                <%= review.body %>
            </li>
            <% } %>
    </ul>