<% layout('layouts/boilerplate') %>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card shadow">
                    <img src="/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg" alt="..." class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-center text-bold">Login</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input class="form-control" type="text" name="username" id="username"
                                    placeholder="Enter Username" autofocus required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                                <div class="invalid-feedback">
                                    Must Enter Username
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input class="form-control" type="password" name="password" id="password"
                                    placeholder="Enter Password" required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                                <div class="invalid-feedback">
                                    Must Enter Password
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-success btn-block">Login</button>
                                <a href="/register" type="button" class="btn btn-primary">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>