<% layout('layouts/boilerplate') %>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card shadow">
                    <img src="/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg" alt="..." class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-center text-bold">Register</h5>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            <div class="form-group my-2">
                                <label class="form-label" for="Email">Email</label>
                                <input class="form-control" type="text" name="user[email]" id="Email"
                                    placeholder="Email" autofocus required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                                <div class="invalid-feedback">
                                    Must Enter Username
                                </div>
                            </div>
                            <div class="form-group my-2">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" name="user[username]" id="username"
                                    placeholder="Username" required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                                <div class="invalid-feedback">
                                    Must Enter Username
                                </div>
                            </div>
                            <div class="form-group my-2">
                                <label class="form-label" for="password">password</label>
                                <input class="form-control" type="password" name="user[password]" id="password"
                                    placeholder="password" required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                                <div class="invalid-feedback">
                                    Must Enter User Password
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-success">Sign up</button>
                                <a href="/login" type="button" class="btn btn-primary">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>